@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo-pic {
  width: 75px;
}
header {
  background-color: #fff9f7;
}

body {
  background-color: #fff9f7;
}

.name {
  width: auto;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 0;
  color: rgb(245, 118, 118);

  h1 {
    font-family: "Playfair Display", serif;
    font-size: 28px;
    font-weight: 600;
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
  }
}

nav {
  font-family: "Montserrat", sans-serif;
  a {
    text-decoration: none;
    color: #d77b82;
  }

  a:hover {
    text-decoration: underline;
    color: #f3616e;
  }
}

.a-offcanvas-style {
  font-family: "Montserrat", sans-serif;
  a {
    text-decoration: none;
    color: #d77b82;
  }

  a:hover {
    text-decoration: underline;
    color: #f3616e;
  }
}

.hero-section {
  background-image: url(matrials/body-wallpaper.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ------------------------------------------- */
/*  Mobile  */

@media (max-width: 767px) {
  .hero-section {
    min-height: 700px;
    background-image: url(matrials/body-wallpaper-phones.png);
    background-position: center;
    background-size: cover;
  }

  .hero {
    padding-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h1 {
      font-size: 24px;
      color: rgb(245, 118, 118);
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
    }

    p {
      color: #4a4545;
      line-height: 1.7;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
    }

    .butt-group {
      display: flex;
      justify-content: center;
      gap: 15px;
    }

    .buttons {
      font-family: "Montserrat", sans-serif;
      border-radius: 5px;
      width: 135px;
      padding: 10px;
      text-align: center;
    }

    .button-1 {
      color: white;
      background-color: #f3616e;
      border: 0;
      text-decoration: none;
    }

    .button-2 {
      color: #f3616e;
      background-color: white;
      border: #f3616e solid 1px;
      text-decoration: none;
    }
  }

  .trust {
    margin-top: 15px;
    background-color: #fff9f7;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        gap: 10px;
      }
    }
  }

  .About {
    margin-top: 20px;
    .container {
      .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding-top: 10px;
        border-radius: 7px;
      }

      h1 {
        color: rgb(245, 118, 118);
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
      }

      p {
        width: 75%;
        font-family: "Montserrat", sans-serif;
      }
    }
  }

  .About {
    .container {
      .our-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding-top: 10px;
        border-radius: 7px;
      }

      h6 {
        color: rgb(245, 118, 118);
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
      }

      p {
        width: 75%;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
}

/* ------------------------------------------- */
/*  Tablet  */

@media (min-width: 768px) and (max-width: 991px) {
  .hero-section {
    min-height: 700px;
    background-image: url(matrials/body-wallpaper-tablet.png);
    background-position: center;
    background-size: cover;
  }

  .hero {
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h1 {
      font-size: 30px;
      color: rgb(245, 118, 118);
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
    }

    p {
      color: #4a4545;
      line-height: 1.7;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
    }

    .butt-group {
      display: flex;
      justify-content: center;
      gap: 15px;
    }

    .buttons {
      font-family: "Montserrat", sans-serif;
      border-radius: 5px;
      width: 135px;
      padding: 10px;
      text-align: center;
    }

    .button-1 {
      color: white;
      background-color: #f3616e;
      border: 0;
      text-decoration: none;
    }

    .button-2 {
      color: #f3616e;
      background-color: white;
      border: #f3616e solid 1px;
      text-decoration: none;
    }
  }

  .trust {
    margin-top: 15px;
    background-color: #fff9f7;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        gap: 10px;
      }
    }
  }

  .About {
    margin-top: 20px;
    .container {
      .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding-top: 10px;
        border-radius: 7px;
      }

      h1 {
        color: rgb(245, 118, 118);
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
      }

      p {
        width: 75%;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
  .About {
    .container {
      .our-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding-top: 10px;
        border-radius: 7px;
      }

      h6 {
        color: rgb(245, 118, 118);
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
      }

      p {
        width: 75%;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
}

/* ------------------------------------------- */
/*  Desktop  */

@media (min-width: 992px) {
  .hero-section {
    min-height: 550px;
    background-image: url(matrials/body-wallpaper.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h1 {
      font-size: 45px;
      color: rgb(245, 118, 118);
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
    }

    p {
      color: #4a4545;
      line-height: 1.7;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
    }

    .butt-group {
      display: flex;
      gap: 15px;
    }

    .buttons {
      font-family: "Montserrat", sans-serif;
      border-radius: 5px;
      width: 135px;
      padding: 10px;
      text-align: center;
    }

    .button-1 {
      color: white;
      background-color: #f3616e;
      border: 0;
      text-decoration: none;
    }

    .button-2 {
      color: #f3616e;
      background-color: white;
      border: #f3616e solid 1px;
      text-decoration: none;
    }
  }

  .trust {
    margin-top: 15px;
    background-color: #fff9f7;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        gap: 10px;
        min-height: 160px;
      }
    }
  }

  .About {
    margin-top: 20px;
    .container {
      .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding-top: 10px;
        border-radius: 7px;
      }

      h1 {
        color: rgb(245, 118, 118);
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
      }

      p {
        width: 75%;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
  .About {
    .container {
      .our-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding-top: 10px;
        border-radius: 7px;
      }

      h6 {
        color: rgb(245, 118, 118);
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
      }

      p {
        width: 75%;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
}

.products {
  margin-top: 50px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.products-section {
  background-color: #fff9f7;
}

.products-title {
  font-family: "Playfair Display", serif;
  color: #d77b82;
  font-size: 38px;
}

.products-subtitle {
  font-family: "Montserrat", sans-serif;
  color: #4a4545;
}

/* Product Card */

.product-card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  padding: 15px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);

  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

/* Product Image */

.product-image {
  height: 280px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fdf2f2;

  border-radius: 12px;
}

.product-image img {
  width: 80%;
  height: 90%;

  object-fit: contain;
}

/* Product Info */

.product-info {
  padding: 15px 5px 5px;
}

.product-info h3 {
  font-family: "Montserrat", sans-serif;

  font-size: 18px;

  color: #4a4545;

  margin-bottom: 5px;
}

.product-info p {
  font-family: "Montserrat", sans-serif;

  font-size: 13px;

  color: #888;

  margin-bottom: 15px;
}

/* Price + Cart */

.product-bottom {
  display: flex;

  align-items: center;

  justify-content: space-between;
}

.price {
  font-family: "Montserrat", sans-serif;

  font-weight: 600;

  color: #d77b82;
}

.add-btn {
  border: none;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  background-color: #d77b82;

  color: white;

  cursor: pointer;

  transition: 0.2s;
}

.add-btn:hover {
  background-color: #f3616e;
}

/* Carousel Arrows */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-prev-icon::after {
  content: "\f104";

  font-family: "Font Awesome 6 Free";

  font-weight: 900;

  font-size: 30px;

  color: #d77b82;
}

.carousel-control-next-icon::after {
  content: "\f105";

  font-family: "Font Awesome 6 Free";

  font-weight: 900;

  font-size: 30px;

  color: #d77b82;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;

  top: 50%;
  transform: translateY(-50%);

  opacity: 1;
}

.view-product {
  display: inline-block;

  padding: 10px 25px;

  background-color: #d77b82;
  color: white;

  text-decoration: none;

  border-radius: 8px;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;

  transition: 0.3s;
}

.view-product:hover {
  background-color: #f3616e;
  color: white;

  transform: translateY(-2px);
}

.contact-section {
  padding: 80px 0;
  background-color: #fff9f7;
}

.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

/* =========================
   Contact Form
========================= */



.contact-form h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #252525;
  margin-bottom: 10px;
}

.contact-description {
  font-family: "Montserrat", sans-serif;
  color: #888;
  font-size: 14px;
  margin-bottom: 25px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 13px 15px;

  border: 1px solid #d8d8d8;
  border-radius: 6px;

  background-color: white;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;

  outline: none;

  transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #d77b82;
}

.contact-form textarea {
  resize: vertical;
}

/* Send Button */

.send-btn {
  width: 70px;

  padding: 11px 0;

  border: none;
  border-radius: 6px;

  background-color: #f3616e;
  color: white;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;

  cursor: pointer;

  transition: 0.3s;
}

.send-btn:hover {
  background-color: #d77b82;
}

/* =========================
   Image
========================= */

.contact-image {
  width: 250px;
  margin-top: 20px;

  overflow: hidden;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.contact-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* =========================
   WhatsApp
========================= */

.whatsapp-btn {
  position: fixed;

  right: 25px;
  bottom: 25px;

  width: 55px;
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background-color: #25d366;
  color: white;

  font-size: 28px;

  text-decoration: none;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  transition: 0.3s;

  z-index: 1000;
}

.whatsapp-btn:hover {
  color: white;
  transform: scale(1.1);
}

footer{
  width: 100%;
  height: 70px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}