@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo-pic {
  width: 75px;
}
header {
  background-color: #fff9f7;
}

.name {
  width: auto;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 0;
  color: rgb(245, 118, 118);

  h1 {
    font-family: "Playfair Display", serif;
    font-size: 28px;
    font-weight: 600;
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
  }
}

nav {
  font-family: "Montserrat", sans-serif;
  a {
    text-decoration: none;
    color: #d77b82;
  }

  a:hover {
    text-decoration: underline;
    color: #f3616e;
  }
}

.a-offcanvas-style {
  font-family: "Montserrat", sans-serif;
  a {
    text-decoration: none;
    color: #d77b82;
  }

  a:hover {
    text-decoration: underline;
    color: #f3616e;
  }
}

.hero-section {
  background-image: url(matrials/body-wallpaper.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ------------------------------------------- */
/*  Mobile  */

@media (max-width: 767px) {
  .hero-section {
    min-height: 700px;
    background-image: url(matrials/body-wallpaper-phones.png);
    background-position: center;
    background-size: cover;
  }

  .hero {
    padding-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h1 {
      font-size: 24px;
      color: rgb(245, 118, 118);
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
    }

    p {
      color: #4a4545;
      line-height: 1.7;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
    }

    .butt-group {
      display: flex;
      justify-content: center;
      gap: 15px;
    }

    .buttons {
      font-family: "Montserrat", sans-serif;
      border-radius: 5px;
      width: 135px;
      padding: 10px;
    }

    .button-1 {
      color: white;
      background-color: #f3616e;
      border: 0;
    }

    .button-2 {
      color: #f3616e;
      background-color: white;
      border: #f3616e solid 1px;
    }
  }
}

/* ------------------------------------------- */
/*  Tablet  */

@media (min-width: 768px) and (max-width: 991px) {
  .hero-section {
    min-height: 700px;
    background-image: url(matrials/body-wallpaper-tablet.png);
    background-position: center;
    background-size: cover;
  }

  .hero {
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h1 {
      font-size: 30px;
      color: rgb(245, 118, 118);
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
    }

    p {
      color: #4a4545;
      line-height: 1.7;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
    }

    .butt-group {
      display: flex;
      justify-content: center;
      gap: 15px;
    }

    .buttons {
      font-family: "Montserrat", sans-serif;
      border-radius: 5px;
      width: 135px;
      padding: 10px;
    }

    .button-1 {
      color: white;
      background-color: #f3616e;
      border: 0;
    }

    .button-2 {
      color: #f3616e;
      background-color: white;
      border: #f3616e solid 1px;
    }
  }
}

/* ------------------------------------------- */
/*  Desktop  */

@media (min-width: 992px) {
  .hero-section {
    min-height: 550px;
    background-image: url(matrials/body-wallpaper.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;


    h1 {
      font-size: 45px;
      color: rgb(245, 118, 118);
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
    }

    p {
      color: #4a4545;
      line-height: 1.7;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
    }

    .butt-group {
      gap: 15px;
    }

    .buttons {
      font-family: "Montserrat", sans-serif;
      border-radius: 5px;
      width: 135px;
      padding: 10px;
    }

    .button-1 {
      color: white;
      background-color: #f3616e;
      border: 0;
    }

    .button-2 {
      color: #f3616e;
      background-color: white;
      border: #f3616e solid 1px;
    }
  }
}

/* .butt-group{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.buttons {
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  width: 135px;
  padding: 10px;
}

.button-1 {
  color: white;
  background-color: #f3616e;
  border: 0;
}

.button-2{
  color: #f3616e;
  background-color: white;
  border: #f3616e solid 1px;
} */
